h1 {
    color:var(--white);
    font-family: "Righteous";
    font-size: 3rem;
    text-align: left;
    margin: 0px
}
h2{
    font-family: "K2D";
    color:var(--white);
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0px;
    text-align: left;
}
h3{
    font-family: "K2D";
    color:var(--white);
    font-size: 1rem;
    font-weight: 700;
    margin: 0px;
    text-align: left; 
}
p{
    color:var(--subwhite);
    font-family: "k2d";
    font-size: 1rem;
    margin: 0px;
    
}
a{
    font-family: "K2D";
    color:var(--subwhite);
    font-size: 1rem;
    font-weight: 700;
    margin: 0px;
    text-align: left; 
    text-decoration: none;
}

a:focus,
a:hover,
a.active,
a:active{
    color:var(--white);
}
nav{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
svg{
    fill: var(--white);
}
footer{
    font-family: "K2D";
    color:var(--subwhite);
    font-size: 0.8rem;
    margin-top: 30px;
}