
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@property --background-colour{
    syntax: '<color>';
    inherits:false;
    initial-value: #02122b;
}
@property --glow{
    syntax: '<color>';
    inherits:false;
    initial-value: rgba(177, 75, 197, 0.521);
}
@property --glow-middle{
    syntax: '<color>';
    inherits:false;
    initial-value: rgba(69, 26, 226, 0.212);
}
@property --accent{
    syntax: '<color>';
    inherits:false;
    initial-value: rgba(40, 219, 181, 0.575);
}
@property --white{
    syntax: '<color>';
    inherits:false;
    initial-value: #F3FCF0; 
}
@property --subwhite{
    syntax: '<color>';
    inherits:false;
    initial-value: #90a5d3; 
}

#glowcontainer{
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    
}
#glowcontainer:hover::after{
    opacity: 0.3;
    transition: opacity 0.7s ease-in ;
}
#glowcontainer::after{
    content: '';
    width: 1000px;
    height: 1000px;
    opacity: 0;
    transition: opacity 0.7s ease-out ;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    background: radial-gradient(circle,var(--glow)0%,var(--glow-middle) 40%, transparent 70%);
    top: calc(var(--y,0)*1px - 525px);
    left: calc(var(--x,0)*1px - 525px);
    
}

#maincontainer{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 30px;
    justify-content: center;  
}

/* film grain*/
#maincontainer::before{
    content: '';
    position: fixed;
    opacity: 0.1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    filter: url(#grainy);
    pointer-events: none;
}
#leftcontainer{
    position: sticky;
    top: 60px;
    margin-right: 100px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    #contacticons{
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
    }
}
#rightcontainer{
    max-width: 700px;
    padding-right: 20px;

    
    .listheader{
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .project{
        margin-bottom: 10px; 
        padding: 10px;
        border-radius: 10px;
        border: 2px solid transparent;
        transition: all 0.1s ease-out;
    }
    .project:hover{
        background-color: var(--background-colour);
        filter: brightness(1.2);
        border-color: var(--accent);
        transition: all 0.1s ease-in;
        box-shadow: 0 0 20px var(--accent);
    }
    #pixelimagecontainer{
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 500px;
        .pixelimage{
            width: 120px;
            padding: 4px;
            border: 2px solid transparent;
            border-radius: 10px;
            filter: brightness(0.9);
            transition: all 0.1s ease-out;
        }
        .pixelimage:hover{
            border: 2px solid var(--accent);
            border-radius: 10px;
            box-shadow: 0 0 20px var(--accent);
            filter: brightness(1.1);
            transition: all 0.1s ease-in;
        }

    }
}     

#photodialog{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    #photodialogimage{
        max-height: 75vh;
        border-radius: 5px;
    }
}
#photodialog[open]{
    display: flex;
}