
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    /* Colours */
    --background-colour: rgba(18, 56, 73,100);
    --white: #F4EDED;
    --subwhite:#b0cbcc;
}
body {
    background-color: var(--background-colour);
}
.maincontainer{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.leftcontainer{
    margin-right: 100px;
}
.rightcontainer{
    .project{
        margin-top: 30px; 
        padding: 10px;
        border-radius: 10px;
    }
    .project:hover{
        background-color: var(--background-colour);
        filter: brightness(1.2);
    }
}