@media (max-width: 1000px){
    #maincontainer{
        flex-wrap: wrap;
        justify-content: left;
    }
    #leftcontainer{
        position: static;
        max-width: 1000px;
        margin-right: 0px;

        #titlecard{
            padding-bottom: 50px;
            width: 100%;
            padding-right: 0px;
        }
        #leftcontainerindent{
            display: flex;
            flex-direction: column;
            padding-right: 0px;
            padding-left: 0px;
        }
    }
    #rightcontainer{
        max-width: 1000px;
    }
    html{
        font-size: 30px;
    }
}

@media (pointer: coarse){
    #glowcontainer::after{
        top: calc(var(--sy,0)*1px - 100px);
        left:-400px;
        opacity: 0.4;

    }
}