/*? Glow Container*/
#glowcontainer{
    padding: 50px;
    border-radius: 10px;
    position: relative;
    max-height: 100%;
    
}
#glowcontainer:hover::after{
    opacity: 0.3;
    transition: opacity 0.7s ease-in ;
}
#glowcontainer::after{
    content: '';
    width: 1000px;
    height: 1000px;
    opacity: 0;
    transition: opacity 0.7s ease-out ;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    background: radial-gradient(circle,var(--glow)0%,var(--glow-middle) 40%, transparent 70%);
    top: calc(var(--y,0)*1px - 525px);
    left: calc(var(--x,0)*1px - 525px);
    
}

#maincontainer{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 30px;
    justify-content: center;  
}

/* film grain*/
#maincontainer::before{
    content: '';
    position: fixed;
    opacity: 0.1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    filter: url(#grainy);
    transform: translateZ(0);
    pointer-events: none;
}
#leftcontainer{
    position: sticky;
    top: 60px;
    margin-right: 175px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    #titlecard{
        padding-bottom: 20px;
        padding-right: 40px;
        image-rendering: pixelated; 
    }
    #leftcontainerindent{
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 20px; 
    }
    #contacticons{
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        
    }
}
#rightcontainer{
    max-width: 700px;
    .listheader{
        font-size: 4rem;
        margin-top: 20px;
    }
    .listheaderline{
        margin: 0px;
        margin-bottom: 5px;
        border: none;
        background-color: var(--white);
        height: 4px;
    }
    .project{ 
        margin-bottom: 10px; 
        padding: 10px;
        border: 4px solid transparent;
        transition: border 0.1s ease-out;
        .projecttitle{
            font-size: 3.0rem;
        }
    }
    .project:hover{
        background-color: var(--background-colour);
        filter: brightness(1.2);
        border-color: var(--accent);
        transition: border 0.1s ease-in;
        box-shadow: 0 0 20px var(--accent);
    }
} 
.skillcontainer{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    .skill{
        flex: 0,0,0;
        background-color: var(--glow-middle);
        opacity: 1;
        font-size: 2rem;
        padding-left: 12px;
        padding-top: 2px;
        padding-bottom: 6px;
        padding-right: 12px;
        font-weight: 800;
        color:var(--glow);
        filter: brightness(2);
        box-shadow: 0 0 20px var(--glow-middle);
    }
}



/** Dialog  */
#projectdialog{
    width: fit-content;
    height: fit-content;
    padding: 0;
}

.projectdialogcontent{
    overflow-y: auto;
    padding: 10px;
    .projectdialogtitlecontainer{
        display: flex;
        gap: 10px;
        align-items: flex-end;
    }
    .projecttext{
        padding-top: 15px;
    }
    
}
